*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checked {
  text-decoration: line-through;
  color: red;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: url('../imagem/paisagem.jpg');
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.fieldset{
  width: 35vw;
  height: 20vh;
  color: white;
  margin-top: 8px;
  align-items: left;
  border: 0;
  font-size: 20px;
  margin-left: 10px;
  overflow: auto;
}

ul{
  list-style-type: none;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}

.boxTarefa{
  width: 70px;
  height: 25px;
  color: white;
  margin-left: 20px;
}

.boxForm{
  border: groove;
  border-radius: 15px;
  width: 40vw;
  height: 70vh;
  background-color: black;
  opacity: 0.7;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

li{
  width: 150px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label{
  float: left;
  font-size: 50px;
  font-weight: bolder;
}

input{
  width: 200px;
  height: 20px;
  display: flex;
  margin: 0 auto 0 auto;
  margin-top: 2rem;
}

.button{
  border: groove;
  border-radius: 15px;
  color: white;
  display: flex;
  background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  margin-top: 100px;
  margin-left: 500px;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}
         